.bag-price {
    width: 30%;
}

.title-price {
    border-bottom: 1px solid rgba(13, 109, 253, 0.3);
    padding-bottom: 4%;
}

.list-bag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding-top: 1%;
}

.priceBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}