.logo {
    color: white;
    text-decoration: none;
}

.link {
    color: rgb(170, 199, 255);
    text-decoration: none;
    transition: .3s;
}

.link:hover{
    color: rgb(215, 228, 255);
}

.login-btn {
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 4px 20px;
}