.logo {
    color: white;
    text-decoration: none;
}

.link {
    color: rgb(170, 199, 255);
    text-decoration: none;
    transition: .3s;
}

.nav-link {
    color: rgb(170, 199, 255);
}

.nav-link:hover, .nav-link:focus {
    color: rgb(215, 228, 255);
}

.navbar-nav .nav-link.show {
    color: rgb(215, 228, 255);
}

.dropdown-menu {
    --bs-dropdown-bg: rgb(43,48,53);
    border: none;
}

.dropdown-item:hover {
    background-color: rgb(57, 61, 66);
}

.link:hover {
    color: rgb(215, 228, 255);
}

.bagBtnNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
    color: rgb(255, 217, 0);
    padding: 0.25rem 0.5rem;
    border-radius: var(--bs-border-radius-sm);
    transition: .3s;
}

.bagBtnNavbar img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 217, 0);
    padding: 5px;
    border-radius: 5px;
}

.disabled {
    background-color: #64646467;
    color: rgb(179, 179, 179);
    cursor: default;

}

.disabled img {
    background-color: transparent;
}

.disabled img {
    filter: invert(0.8);
}

.loginBtn-navbar {
    border: none;
    font-size: 100%;
}