.missions {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.list {
    width: 82%;
    display: flex;
    flex-direction: column;
}

.table {
    cursor: pointer;
    --bs-table-hover-bg: rgba(13, 109, 253, 0.2);
    --bs-table-striped-bg: rgba(13, 109, 253, 0.1);
}
