.filter-mission {
    background-color: rgba(13, 109, 253, 0.3);
    border-radius: 7px;
    width: 95%;
    height: fit-content;
    padding: 10px;
    margin: 0 20px 0 0;
}

.filter-mission h1 {
    font-size: 100%;
    font-family: 'Montserrat-medium';
    text-align: center;
    margin-top: 5%;
}

.filter-input {
    margin-bottom: 5%;
}

.filter-input label {
    font-family: 'Montserrat-light';
    font-size: 90%;
    margin-left: 5px;
}

.filter-input input {
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 0;
    margin-top: 2%;
    width: 100%;

}

.filter-input input::placeholder {
    width: 100%;
    text-align: center;
}

.filterBtn {
    width: 100%;
    background-color: rgba(13, 109, 253, 1);
    border-radius: 7px;
    border: none;
    color: white;
    margin-top: 10px;
    font-family: 'Montserrat-medium';
    transition: .3s;
}

.filterBtn:hover {
    filter: brightness(0.9);
}